<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Write-Ups</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:passingstates@protonmail.com">email</a></li>
	        		<li><a href="https://github.com/mazzy109">github.com/mazzy109</a></li>
				<li><a href="mazzy109.github.io/blog/atom.xml">rss</a></li>
				</ul>
			</footer>
		</body>
	</html>
